.hero {
  width: 100%;
  margin-top: -2px;
  height: 600px;
  background-image: url('https://images.unsplash.com/photo-1428515613728-6b4607e44363?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-position: center 2px;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  position: fixed;
  top: 10px;
  width: 100%;
  font-size: x-large;
}

.logo {
  width: 80px;;
}

.nav-item-container {
  background-color: chocolate;
  border-radius: 20px;
  box-shadow: -0.3rem -0.3rem 0.7rem #502920,
  0.3rem 0.3rem 0.5rem rgba(208, 115, 71, 0.288);
}

a {
  color: inherit;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #502920;
}